<div class="v-center bg-discord">
    <span class="title text-center">Welcome!</span>
    <div class="separator"></div>
    <span class="text-center">To request music for the bot, login using your discord account, please.</span>
    <a asp-action="Index" asp-controller="Auth" class="btn btn-large btn-light">Log in</a>
</div>